.warning {
    color: red;
    margin-right: 2%;
    margin-left: 2%;
}

.title {
    margin: 2%;
}

.recomending {
    margin-right: 2%;
    margin-left: 2%;
}

.tr {
    display: flex;
    align-content: center;
    margin: 3%;
    justify-content: start;
    width: 100%;
    align-items: center;
}

.label {
    margin-right: 5%;
    text-align: right;
    width: 10%;
}

.input {
    width: 80%;
}

.radioItem {
    margin-right: 2.5%;
}


.text {
    width: 95%;
}

.textArea {
    width: 95%;
}

.table {
    width: 100%;
    width: 100%;

}

.box {
    border: 1px solid rgb(145, 143, 143);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 100%;
    width: 100%;
    margin-top: 2%;
    border-radius: 2px;
    background-color: white;
}

.footerMessage {
    width: 100%;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
}

.button {
    width:100%;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-color: cadetblue;
    background-color:rgb(127, 188, 168);
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

.button:hover {
    background-color: rgb(80, 193, 156);
}


.writeFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 2% 2% 2%;
}