.box {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.input {
    margin: 2%;
    border-radius: 2px;
    border: 1px solid grey;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    height: 30px;
    width:95%;
}

.input:focus {
    outline: none;
    border-radius: 2px;
    border: 1px solid skyblue;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.label {
    width: 40%;
    margin: 2%;
}


.button {
    margin: 2%;
    border-radius: 5px;
    height: 45px;
    padding: 0 3% 0 3%;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-left: 71%;
}

.button:hover {
    background-color: #2e6da4;
}