.navbar{
    background-color: rgb(212, 231, 178);
    
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.nav{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.link {
    color: rgb(133, 128, 128);
    text-decoration: none;
    margin: 0.5rem;
}

.link:hover {
    color: black;
}


.icon {
    height: 100%;
}

.dropdownLink {
    text-decoration: none;
    color: #5a5a5a;
    display: block;
}

.dropdownLink:hover {
    color: #5a5a5a;
}

.button {
    border: none;
    background-color: transparent;
    

}

.dropdown{
    margin: 0.5rem;
    color: rgb(133, 128, 128);
}

.dropdown:hover {
    color: black;
}


@media (max-width: 992px) {
    .button {
        padding: 2% 0% 2% 0%;
        text-align:left;
    }

}
