.table{
    border-collapse: collapse;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: hidden;
    text-align: center;
    padding: 0;
    table-layout: fixed;
    margin-top: -1px;
}

.th {
    background-color: #00897b;
    color: white;
    border-radius: 2px; 
    border: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.thItem:first-of-type {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.thItem:last-of-type {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.tr {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


