.box {
  display: flex;
  justify-content: space-between;
  margin: 1.5% 10% 1% 10%;

}

.item1 {
  flex-basis: 15%;
}

.item2 {
  flex-basis: 55%;
}

.item3 {
  border: 1px solid black;
  flex-basis: 26%;
}


@media (max-width: 992px) {

  .box{
    flex-direction: column;
  }
  .item1 {
    display: none;
  }

  .item2 {
  }

  .item3 {
    margin-top: 3%;
  }
}
